
.navbar{

}



header {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 130px;



    
}

header nav{
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items:center ;

}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline;
}
main{
    width: 960px;
    margin:30px auto 0;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 1315px;
    margin-bottom:0px;
}

main img{
    margin-bottom: 30px;
}

footer{
    background-color: bisque;
    height: 130px;
    
}

main article {

    width:450px
}

p{
    height: 345px;
    overflow: auto;
    margin-top: 10px;
    
}
body{
    height: 1500px;
}

div {
margin-bottom: 30px;
}

button:hover{
    color: rgb(216, 27, 106);
    transition: 320ms;
    cursor: pointer;
}

button {
    margin-top: 10px;
}



